                    <div id="txtContent">
					<h2 id="h_about"><span>About The Institute</span></h2>
                         <p>The Factual Chuck Norris Institute is a groupe of people devoted to promoting and researching every phenomenon in Factual Chuck-Norrisology.</p>
                         <p>This new science covers everything that surround the mythical figure that is Chuck Norris.</p>
                         <p>Dont be mistaking the true Chuck Norris with the very bad actor currently posing as him, this man is an imposter. Actually, just like Santa Claus, there is many Chuck Norris impostors out there.</p>
                         <p>By carefully studying the legends and the mythological occurence of Chuck Norris accross all cultures we aim to find the true meaning of the Chuck Norris spirit</p>
                         <p>We want to help everyone find their inner Chuck Norris.</p>
                    <h2 id="h_debate"><span>Debate of Origines</span></h2>
                         <p>Include the notion of Chuck Norris as a divinity-like demi-god.</p>
                         <p>Was there really Jesus? Or was he just another Chuck Norris imposter ?</p>
                         <p>It's a little known fact that  after Eve and Adam bit the forbiden appel, god actually sent Chuck Norris to punish them.</p>
                         <p>God was like: Hey Mr. Norris, I know I'm not suppose to bother you with my shit, but can you give me a little help with something?</p>
                         <p>The only way god was able to do so much in only 7 days is that most of the work had been done by Chuck Norris the day before.</p>
					</div>
					<div id="fact">
					<h2 id="h_random"><span>Chuck Norris Random Facts</span></h2>
					<div id="random-content">
              			<p><%= @facts.fact %></p>
	                </div>
					<% link_to facts_path do %>More Facts<% end %>
					<h2 id="h_know"><span>Chuck Norris Did you know?</span></h2>
						<p>The USA won the race to the moon against the russians because Chuck Norris was there to kick the rocket out of orbit. And once finished, the space ship came back by itself. Because Chuck Norris told it to.</p>
					</div>