	<h2 id="h_about"><span>About The Institute</span></h2>
	<p>The Factual Chuck Norris Institute is a groupe of people devoted to promoting and researching every phenomenon in Factual Chuck-Norrisology.</p>
	<p>This new science covers everything that surround the mythical figure that is Chuck Norris.</p>
	<p>Dont be mistaking the true Chuck Norris with the very bad actor currently posing as him, this man is an imposter. Actually, just like Santa Claus, there is many Chuck Norris impostors out there.</p>
	<p>By carefully studying the legends and the mythological occurence of Chuck Norris accross all cultures we aim to find the true meaning of the Chuck Norris spirit</p>
	<p>We want to help everyone find their inner Chuck Norris.</p>				
